= form_for @invoice do |f|
  - if @invoice.errors.any?
    #error_explanation
      h2 = "#{pluralize(@invoice.errors.count, "error")} prohibited this invoice from being saved:"
      ul
        - @invoice.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
