h1 Listing invoices

table
  thead
    tr
      th
      th
      th

  tbody
    - @invoices.each do |invoice|
      tr
        td = link_to 'Show', invoice
        td = link_to 'Edit', edit_invoice_path(invoice)
        td = link_to 'Destroy', invoice, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Invoice', new_invoice_path
