#chat-container
  #room-container
    span Room
    input id="room"
    .button.tiny id="join-button" Join
  #messages-container
    textarea id="messages" readonly=true
  #message-to-send
    input id="message"
  .button.tiny id="send-button" Send
