= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      h2 = "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      ul
        - @client.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
