<div class="off-canvas-wrap" data-offcanvas>
  div.inner-wrap
    nav.tab-bar
      section.left-small
        a.left-off-canvas-toggle.menu-icon href="#"
          span

      section.right
        = link_to "Logout", destroy_user_session_path, method: :delete, class: "small button", style: "margin-right: 15px;"

    aside.left-off-canvas-menu
      ul.off-canvas-list
        li
          label Admin Tools
        li 
          = link_to "Clients ", clients_path
        li
          = link_to "Invoices", invoices_path
  
== render partial: 'chat_client/client_window'
