#container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.label :email
    = f.email_field :email, autofocus: true
 
    = f.label :password
    = render "devise/shared/links"  
    = f.password_field :password, autocomplete: "off"


    #lower
      - if devise_mapping.rememberable?
        = f.check_box :remember_me
        = f.label :remember_me

      = f.submit "Sign in"



