= form_for @invoice_item do |f|
  - if @invoice_item.errors.any?
    #error_explanation
      h2 = "#{pluralize(@invoice_item.errors.count, "error")} prohibited this invoice_item from being saved:"
      ul
        - @invoice_item.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
