h1 Listing invoice_items

table
  thead
    tr
      th
      th
      th

  tbody
    - @invoice_items.each do |invoice_item|
      tr
        td = link_to 'Show', invoice_item
        td = link_to 'Edit', edit_invoice_item_path(invoice_item)
        td = link_to 'Destroy', invoice_item, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Invoice item', new_invoice_item_path
