#chat-container {
  height:        350px; 
  width:         350px; 
  position:      fixed; 
  bottom:        10px;
  right:         10px; 
  color:         black; 
  border:        1px solid; 
  border-radius: 5px; 
  padding:       8px;
}

#room-container {
  float: left;
}

#room {
 margin-left: 5px; 
 width:       30px;
}

#join-button {
  float:   right; 
  height:  21px; 
  margin:  12px 0 0 19px; 
  width:   40px; 
  padding: 3px;
}

#messages {
  height: 230px;
  width:  330px;
  margin: 0px;
}

#message {
  width: 100%;
}

#send-button {
  float:   right; 
  height:  22px; 
  margin:  0px; 
  padding: 4px; 
  width:   60px;
}